/*
* Author:AkiC
* Date:2015.4.10
* "首页CSS代码"
*/
body {padding-top: 50px;}
.carousel {
    height: 500px;
    background-color: #000;
    margin-bottom: 40px;
}
ul,li {
    list-style: none;
}

.carousel .item {
    height: 500px;
    background-color: #000;

}
.carousel img {
    width: 100%;
}
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}
.center-container .col-md-4{
    text-align: center;
}
.col-md-5 img {
    width: 350px;
    height: 520px;
    margin-left:50px;
    margin-top: 22px;
}

.line {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer {
    padding-bottom: 20px;
}
.footer_bottom {
    text-align: center;
    font-size: 12px;

}